:root {
    --body-color: #ffebee;
    --dark-primary-color: #D32F2F;
    --light-primary-color: #FFCDD2;
    --primary-color: #F44336;
    --text:#FFFFFF;
    --accent-color:#00BCD4;
    --primary-text:#212121;
    --secondary-text:#757575;
    --divider-color:#BDBDBD;
    --body-font: 'Oswald', sans-serif;
    --title-font: 'Open Sans', sans-serif;
    
    
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2;
    color: var(--text)
}

h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 35px;
}

.header {
    display: flex;
    justify-content: space-between;
    background: var(--dark-primary-color);
    color: var(--text);
    justify-content: space-between;
    align-items: center;
}
.header ul {
    list-style: none;
    display: flex;
    padding: 0px;
}

.header ul li {
    margin: 0px 10px;
}

.header a{
    color: var(--text);
    text-decoration: none;
}

.hero {
    /* border: 2px solid lime; */
    height: 300px;
    background: var(--primary-color);
    background-image: url(../img/hero.jpg);
    background-size: 500px 300px; 
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.hero strong{
    color: var(--light-primary-color);
}

.portafolio {
    background: var(--light-primary-color);
    padding: 20px;
}


.project {
    border: 1px solid grey;
    border-radius: 15px;
    /* margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px; 
    todo eso se puede abreviar con -->
    */
    margin: 10px;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-details {
    /* border: 2px solid red; */
    width: 500px;
}

.project-title {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 10px;

}

.project-subtitle, .project-date, .project-url {
    margin: 10px 0px;
}

.project-description {
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    background: var(--body-color);
    font-family: var(--body-font);
    

}

h1, h2, h3, h5, h6 {
    font-family: var(--title-font);
    /* font-weight: normal;  <---esto hacia el h1 en normal, pero a mi me usta bold*/
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.3px;
}

.project-details {
    border: 2px solid red;
    width: 500px;
}

.project-img-container {
    border: 2px solid blue;
    width: 500px;
}

.experience-container {
    display: flex;

}

.experience {
    margin: 10px;
    /* border: 3px solid orangered;  <--para ver margen*/
    width: 480px;
    background: var(--light-primary-color);
    border-radius: 15px;
    overflow: hidden;
     flex-shrink: 0;  /*esto se pone SIEMPRE en el hijo de display flex, 
     y sirve para quitar propiedades incomodas de displey flex  */

}

.experience-img-container{
    margin: 0;
}

.experience-img{
    width: 480px;
    height: 300px;
    object-fit: cover;

}

.experience-details{
    margin: 20px 30px;
    background: white;
    margin-top: -60px; /*para subir hacia la imagen*/
    position: relative; /*para poner encima de la imagen*/
    padding: 20px;
    text-align: center;
    
}

.experience-description{
    text-align: justify; /*justify no se usa porque hay ciertas limitantes para leer,
    y puede desacomodar elementos de texto en los ocntenedores, pero yo lo uso porque le 
    pregunte a simon y dijo mis huevos*/
}

.footer{
    background: var(--dark-primary-color);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: var(--text);
}

